# gitignore pour qt creator

# Ignore everything except the src and tests directories
/*

# Except for the following directories and files:
!/src/
!/tests/
!/levels/
!CMakeLists.txt
!*.cpp
!*.h
!*.hpp

